<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="fpso">
  <gazebo>
    <static>true</static>
  </gazebo>
  <link
    name="fpso_mccr">
    <inertial>
      <origin
        xyz="-8.9517E-17 7.40127112148439E-16 0.026247"
        rpy="0 0 0" />
      <mass
        value="5080000" />
      <inertia
        ixx="1735200000"
        ixy="-1.4064E-08"
        ixz="-4.09840000000001E-10"
        iyy="69183000"
        iyz="3.02509820113017E-07"
        izz="1750700000" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://rbim_world/models/fpso_mccr/meshes/fpso_mccr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://rbim_world/models/fpso_mccr/textures/hull.obj" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://rbim_world/models/fpso_mccr/meshes/fpso_mccr.STL" />
      </geometry>
    </collision>
  </link>
</robot>